extends layout

block content
  
  section(id='lg_about')
    h2 About The Author
    each val in [1, 2, 3, 4, 5] 
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores consectetur totam mollitia hic fuga, repellendus beatae? Facilis debitis ut nemo, sequi quidem soluta odit! Quos officiis minus recusandae quisquam molestiae?
  