extends layout

block content
  section(id='blogs')
    h2 Blog List
    each val in data
      input(type='checkbox' id=val.blog_id style='display:none' class='blogcard')
      label(for=val.blog_id class='bloglabel')
        section(class='card')
          h3= val.blog_title
          p= val.blog_text
    br